* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --dark: #131921;
  --drark-grey: #3b4149;
  --yellow-btn: #fedb69;
  --dark-grey-1: #232f3e;
  --color-orange: #bf4800;
  --color-white-1: #f5f5f7;
  --color-white-2: #ededed;
  --color-light-grey: #777777;
  --color-dark-2: #1c1c1b;
}

.section-heading {
  font-size: 26px;
  line-height: 32px;
  font-weight: 500;
  margin-bottom: 30px;
}
.card-wrapper {
  background-color: white;
  box-shadow: 0 0 10px #0000001a;
  padding: 15px;
}

body {
  font-family: "Rubik", sans-serif;
}

a {
  text-decoration: none;
  display: inline-block;
}

li,
ul {
  list-style: none;
}

svg {
  height: 35px;
  width: 35px;
}

a:hover svg {
  color: var(--yellow-btn);
}

.form-control:focus {
  box-shadow: none;
  border-color: inherit;
}

.gap-10 {
  gap: 10px;
}

.gap-15 {
  gap: 15px;
}

.gap-30 {
  gap: 30px;
}

.button {
  background-color: var(--dark-grey-1);
  color: white;
  font-size: 14px;
  padding: 13px 33px;
  border-radius: 25px;
}
.button:hover {
  background-color: var(--yellow-btn);
  color: var(--dark);
}

.button-2 {
  background-color: var(--dark);
  color: white;
  font-size: 14px;
  padding: 7px 11px;
  border-radius: 25px;
  margin: 1rem;
}
.button-2:hover {
  background-color: var(--yellow-btn);
  color: var(--dark);
}

.icon-button {
  border: none;
  background: none;
  cursor: pointer;
  padding: 0;
  color: var(--dark-grey-1);
  font-size: 2rem;
  padding: 0 1.5rem 0;
}

.icon-button:hover {
  color: var(--yellow-btn);
  background-color: white;
}

/* SPINER */
.loadingSpinnerContainer {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 5000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loadingSpinner {
  width: 64px;
  height: 64px;
  border: 8px solid;
  border-color: #000 transparent #555 transparent;
  border-radius: 50%;
  animation: spin 1.2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* SPINER END */

/* Header Part*/

.header-top-strip {
  border-bottom: 1px solid var(--drark-grey);
  background-color: var(--dark);
}

.header-bottom {
  background-color: var(--dark-grey-1);
}

.header-upper {
  background-color: var(--dark);
}

.header-logo a:hover {
  color: var(--yellow-btn) !important;
}

.header-upper .input-group-text {
  background-color: var(--yellow-btn);
}

.header-upper .dropdown-menu {
  background-color: white;
  width: 100%;
  padding: 0;
  border: 2px solid var(--dark);
}

.dropdown-user-item {
}

.hamburger-menu {
  display: none;
}

.hamburger-menu button {
  background-color: var(--dark-1);
  border: none;
  color: white;
}

.hamburger-menu button svg:hover {
  color: var(--yellow-btn);
}

.header-upper .dropdown button:focus,
.header-bottom .dropdown button:focus {
  box-shadow: none;
}
.header-upper .dropdown button:hover,
.header-bottom .dropdown button:hover {
  color: var(--yellow-btn);
}

.header-upper .header-upper-links a:hover p {
  color: var(--yellow-btn);
}

.header-upper .dropdown-item:hover,
.header-bottom .dropdown-item:hover {
  background-color: transparent;
  color: var(--yellow-btn) !important;
}

.header-bottom .dropdown-item {
  padding: 20px;
  margin-bottom: 3px;
  border-bottom: 1px solid var(--drark-grey);
}
.header-bottom .menu-links a,
.header-bottom .dropdown button {
  color: white;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  letter-spacing: 0.3;
  text-transform: uppercase;
}

.header-bottom .dropdown-menu {
  background-color: var(--dark);
  width: 100%;
  padding: 0;
  transform: translate3d(0px, 61px, 0px) !important;
}

.header-mobile-active {
  display: none;
  position: fixed;
  top: 0;
  background-color: white;
  height: 100%;
  width: 100%;
  z-index: 999;
  overflow: hidden;
}

.header-mobile {
  display: none;
}

.menu-links a:hover {
  color: var(--yellow-btn) !important;
}

.header-mobile-menu button {
  background-color: white;
  border: none;
}

.header-mobile-menu button:hover {
  color: var(--yellow-btn);
  border: none;
}

.header-mobile-nav ul li a {
  color: #212529;
  display: flex;
  align-items: center;
  gap: 10px;
}

.header-mobile-nav ul li a:hover {
  color: var(--yellow-btn) !important;
}

@media (max-width: 992px) {
  .hamburger-menu {
    display: block;
  }

  .header-mobile-active {
    display: block;
  }
  .header-logo {
    font-size: 1rem;
  }
  .header-top-strip {
    display: none;
  }
  .header-upper .header-upper-links {
    padding-left: 0px;
  }
  .header-bottom {
    display: none;
  }
  .header-upper-links-text {
    display: none;
  }
  .search-bar {
    order: 1;
    margin-top: 1rem;
  }
}

@media (max-width: 576px) {
}

/* Header Part End Here*/

/* Footer Part */
.footer {
  background-color: var(--dark-grey-1);
}

.footer:nth-child(3) {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.footer .input-group-text {
  background-color: var(--drark-grey);
  color: white;
  padding: 8px 17px;
}
/* Footer Part End Here*/

/* Home Page */

.main-banner-content {
  background-image: url("../public/images/mac-book-banner.jpg");
  background-size: cover;
  color: var(--yellow-btn);
}

.small-banner {
  background-image: url("../public/images/catbanner-01.jpg");
  background-size: cover;
}


/* home wrapper 2 */
.home-wrapper-2 {
  background-color: var(--color-white-1);
}

/* home wrapper 2 ends */
/* categories section */

.carousel-item img {
  max-height: 50vh;
}

@media (max-width: 992px) {
.carousel-item img {
  max-height: 30vh;
}
}
/* categories section ends here */
/* Home Page Ends */

/* BLog Part */

.blog-card {
  background-color: white;

  border-radius: 10px;
}
.blog-card img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.blog-content {
  padding: 15px;
}
.blog-contentp.date {
  font-size: 13px;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 0;
  font-weight: 400;
  color: var(--color-light-grey);
  padding: 0;
}
.blog-content h5 {
  font-size: 18px;
  color: var(--dark);
}
.blog-content p.desc {
  font-size: 13px;
  line-height: 22px;
  color: var(--color-light-grey);
}
.single-blog-card a {
  font-size: 18px;
  color: var(--color-light-grey);
  margin-bottom: 20px;
}
.single-blog-card h3 {
  font-size: 24px;
  font-weight: 600;
  color: var(--color-dark-2);
}
.single-blog-card p {
  color: var(--color-light-grey);
  font-size: 14px;
}
/*  Blog Part ends here */

/* Product Card */

.product-card {
  padding: 15px;
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
  width: 100%;
}
.product-card .product-image {
  height: 270px;
}
.product-card .product-image img {
  object-fit: contain;
}
.product-card .product-image > img:last-child {
  display: none;
}
.product-card:hover .product-image > img:nth-child(1) {
  display: none;
}
.product-card:hover .product-image > img:last-child {
  display: block;
}
.product-card:hover .action-bar {
  right: 15px;
}
.product-card .product-details h6 {
  color: var(--color-orange);
  font-size: 13px;
}
.product-card .product-details h5 {
  font-size: 15px;
  color: var(--color-dark-2);
}
.product-card .product-details p.price {
  font-size: 16px;
  color: var(--color-dark-2);
}
.product-card p.description {
  font-size: 13px;
  color: var(--color-light-grey);
  margin-right: 20px;
}
.action-bar {
  top: 10%;
  right: -23px;
  transition: 0.3s;
}
.wishlist-icon {
  top: 2%;
  right: 15px;
}
/* Product Card ends here */

/* Special Product */

.special-product-card {
  padding: 20px 10px;
  border-radius: 10px;
  background-color: white;
}

/* Special Product ends here */

/* famous card */

.famous-card .famous-content {
  top: 10%;
  left: 5%;
}
.famous-card img {
  border-radius: 10px;
}
.famous-content h5 {
  font-size: 13px;
  line-height: 20px;
  font-weight: 400px;
  color: white;
  margin-bottom: 7px;
  text-transform: uppercase;
}
.famous-content h6 {
  font-size: 24px;
  line-height: 38px;
  font-weight: 500;
  color: white;
}
.famous-content p {
  font-size: 16px;
  line-height: 24px;
  font-weight: 100;
  color: white;
}
/* famous card ends */

/* Our Store */
.filter-card {
  background-color: white;
  border-radius: 10px;
  padding: 15px 15px 25px;
}
.filter-title {
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
  color: var(--color-dark-2);
  margin-bottom: 20px;
}
.filter-card ul,
.filter-card .form-check-label {
  list-style-type: none;
  font-size: 13px;
  line-height: 30px;
  color: var(--color-light-grey);
  cursor: pointer;
}
.filter-card .form-check-input:focus {
  box-shadow: none;
  border-color: rgba(0, 0, 0, 0.25);
}
.filter-card .form-check-input:checked {
  background-color: var(--yellow-btn);
  border-color: var(--yellow-btn);
}
.sub-title {
  font-size: 14px;
  font-weight: 600;
  color: var(--color-dark-2);
  margin-bottom: 15px;
  margin-top: 20px;
}
.colors {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.colors li {
  width: 20px;
  height: 20px;
  background-color: red;
  border-radius: 50%;
}
.random-products h5 {
  font-size: 14px;
  margin-bottom: 8px;
}
.random-products:first-child {
  border-bottom: 1px solid var(--color-white-2);
}
.filter-sort-grid {
  padding: 10px;
  background-color: white;
  border-radius: 10px;
}
.grid img {
  width: 35px;
  height: 35px;
  background-color: #f2f2f2;
  padding: 8px;
  border-radius: 3px;
  cursor: pointer;
}
.gr-12 {
  width: 100%;
}
.gr-6 {
  width: 49%;
}
.gr-4 {
  width: 32%;
}
.gr-3 {
  width: 24%;
}
.gr-12 .product-card {
  display: flex;
  gap: 20px;
}
.gr-6 .product-image {
  width: 100%;
}
.gr-6 .product-image img {
  margin: auto;
  display: block;
}
.gr-12 .product-card .product-image {
  width: 270px;
}
.gr-12 .product-card .product-image {
  height: auto;
}
.gr-12 .action-bar {
  top: 17%;
}
/* Our store ends here */

/* Contact Page */
.contact-inner-wrapper {
  padding: 30px 20px;
  border-radius: 15px;
  background-color: white;
  gap: 15px;
}
.contact-inner-wrapper > div {
  width: 48%;
}
.contact-title {
  font-size: 26px;
  font-weight: 500;
  line-height: 35px;
  text-align: left;
}
.contact-inner-wrapper form .form-control {
  background-color: var(--color-white-1);
  border-radius: 10px;
  border-color: transparent;
  padding: 10px;
}
.contact-inner-wrapper ul {
  list-style: none;
}
.contact-inner-wrapper address,
.contact-inner-wrapper a,
.contact-inner-wrapper p {
  color: var(--color-light-grey);
}
/* Contact Page ends */

/* Compare Product Page */

.compare-product-card {
  padding: 20px 15px;
  background-color: white;
  border-radius: 10px;
}
.compare-product-card .cross,
.wishlist-card .cross {
  top: 15px;
  right: 15px;
  width: 25px;
  padding: 3px;
  cursor: pointer;
}
.compare-product-details h5.title,
.wishlist-card h5.title {
  font-size: 15px;
  line-height: 22px;
  font-weight: 500;
  color: var(--color-dark-2);
}
.compare-product-details h6.price,
.wishlist-card h6.price {
  font-size: 15px;
  line-height: 22px;
  font-weight: 400;
}
.compare-product-card .product-detail {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
/* Compare Product Page end here */

/*  auth card */

.auth-card {
  padding: 20px;
  background-color: white;
  width: 500px;
  margin: 30px auto;
  border-radius: 10px;
}
.auth-card h3 {
  font-size: 19px;
  font-weight: 500;
  color: var(--color-light-grey);
}
.auth-card p {
  font-size: 13px;
  color: var(--color-light-grey);
}
.auth-card .form-control {
  height: 50px;
  background-color: var(--color-white-1);
  color: var(--color-light-grey);
  font-size: 14px;
  border-radius: 10px;
  border-color: transparent;
}
.auth-card a {
  font-size: 14px;
  font-weight: 400;
  color: var(--color-dark-2);
}
.signup {
  background-color: var(--yellow-btn);
  color: var(--color-131921);
  border: none;
}
.signup:hover {
  background-color: var(--dark);
  color: white;
}
/*  auth card  ends*/

/* Policy Pages */

.policy {
  background-color: white;
  padding: 30px;
}
/* Policy Pages  ends */

/* Main Product Page */

.description-wrapper h4,
.reviews-wrapper h3 {
  font-size: 26px;
  color: #1c1c1b;
  margin-bottom: 10px;
}
.description-wrapper p {
  font-size: 14px;
  color: var(--color-light-grey);
}

.review-inner-wrapper {
  background-color: white;
  padding: 30px;
}
.review-head {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-bottom: 20px;
}
.review-head h4 {
  font-size: 18px;
  color: var(--color-dark-2);
}
.review-head p,
.review-head a {
  font-size: 14px;
  color: var(--color-light-grey);
}
.review-form h4 {
  font-size: 16px;
  color: var(--color-light-grey);
}
.review-form {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.review:not(:last-child) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.review p {
  font-size: 14px;
  color: var(--color-light-grey);
}

.main-product-image {
  padding: 20px;
  background-color: white;
  border-radius: 10px;
}
.main-product-image > div {
  border: 1px solid rgba(0, 0, 0, 0.25);
}
.main-product-image img {
  width: 100% !important;
  height: 600px !important;
  object-fit: cover;
}
.other-product-images {
  background-color: white;
  padding: 20px;
}
.other-product-images > div {
  padding: 20px;
  width: 48%;
  border: 1px solid rgba(0, 0, 0, 0.25);
}
.main-product-image .js-image-zoom__zoomed-image {
  left: 50px !important;
  padding: 10px;
  background-color: white;
  border-radius: 10px;
  z-index: 1000;
}
.main-product-details {
  padding: 30px 20px;
  background-color: white;
  border-radius: 10px;
}
.border-bottom {
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}
.main-product-details h3.title {
  font-size: 18px;
  font-weight: 600;
  color: var(--color-dark-2);
  margin-bottom: 10px;
}
.main-product-details p.price {
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}
.main-product-details a.review-btn,
.t-review {
  color: var(--color-light-grey);
  font-size: 13px;
}
.product-heading {
  font-size: 14px;
  color: var(--color-dark-2);
  margin-bottom: 0px;
}
.product-data {
  font-size: 13px;
  columns: var(--color-light-grey);
  margin-bottom: 0px;
}
.main-product-details a {
  font-size: 14px;
  color: var(--color-light-grey);
}
/* Main Product Page */

/* Cart Page */
.cart-header,
.cart-data {
  border-bottom: 1px solid #eaeaea;
}
.cart-header h4 {
  font-size: 13px;
  color: var(--color-light-grey);
}
.cart-col-1 {
  width: 40%;
}
.cart-col-1 p {
  color: var(--color-light-grey);
  font-size: 14px;
}
.cart-col-2 {
  width: 10%;
}
.cart-col-3 {
  width: 15%;
}
.cart-col-4 {
  width: 15%;
}
.cart-data h5.price {
  font-size: 14px;
  color: var(--color-dark-2);
}
/* Cart Page Ends here */

/* Shippping Page */

.total {
  font-size: 14px;
  color: var(--color-dark-2);
}
.total-price {
  font-size: 16px;
  color: var(--color-light-grey);
}
/* Shipping page ends here */

/* Admin Panel */

.admin-header-logo {
  background-color: #fdd017;
}

.admin-header-avatar {
  width: 50px;
  height: 50px;
}

.admin-layout {
  min-height: calc(100vh - 82px);
}

.admin-layout main {
  background-color: var(--color-white-1);
}

.admin-nav {
  background-color: #001529;
  min-height: 100%;
}

.admin-nav-dropdown {
  border-radius: 0.5rem;
  /* background-color: #1677ff; */
}

.admin-nav-dropdown span {
  color: #ffffffa6;
}

.admin-nav-dropdown span svg {
  display: flex;
}

.product-form .form-control {
  height: 60px;
  font-size: 14px;
  border-radius: 5px;
}

.dropzone {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-width: 2px;
  border-radius: 2px;
  border-style: dashed;
  background-color: #fafafa;
  color: #bdbdbd;
  outline: none;
  transition: border 0.24s ease-in-out;
}

/* Admin Panel End*/
